@using RazorEngine
@using VocaDBRankings.DataContracts
@inherits RazorEngine.Templating.TemplateBase<VocaDBRankings.ViewModels.TemplateViewModel>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Vocaloid/UTAU rankings by VocaDB." />
	<title>Vocaloid/UTAU rankings by VocaDB</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<style media="screen" type="text/css">
	</style>
</head>
<body>
	<div class="container">
		<h2>
			Vocaloid/UTAU rankings for week @Model.WeekNumber
		</h2>

		<div class="row">
			<div class="span7">
				<table class="table">
					<tbody>
						@foreach (SongForApiContract song in Model.TopRatedSongs) {
							<tr>
								<td width="30px">
									<h1>@(System.Array.IndexOf(Model.TopRatedSongs, song) + 1)</h1>
								</td>
								<td width="140px">
									<a href="http://vocadb.net/S/@song.Id">
										<img width="130" src="@song.ThumbUrl" />										
									</a>
								</td>
								<td>
									<a href="http://vocadb.net/S/@song.Id">
										@song.Name										
									</a>
									<br />
									@song.ArtistString
									<br />
									@foreach (PVContract pv in Model.GetMainPVs(song)) {
										<a href="@pv.Url" title="@pv.Service">
											@if (pv.Service == PVService.Youtube) {
												<img src="youtube.png" />
											}
											@if (pv.Service == PVService.NicoNicoDouga) {
												<img src="nico.png" />
											}
										</a>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="span7">
				<table class="table">
					<tbody>
						@foreach (SongForApiContract song in Model.OtherSongs) {
						<tr>
							<td width="30px">
								<h1>@(System.Array.IndexOf(Model.OtherSongs, song) + 4)</h1>
							</td>
							<td width="80px">
								<a href="http://vocadb.net/S/@song.Id">
									<img width="70" src="@song.ThumbUrl" />
								</a>
							</td>
							<td>
								<a href="http://vocadb.net/S/@song.Id">
									@song.Name									
								</a>
								<br />
								@song.ArtistString
								<br />
								@foreach (PVContract pv in Model.GetMainPVs(song)) {
									<a href="@pv.Url" title="@pv.Service">
										@if (pv.Service == PVService.Youtube) {
											<img src="youtube.png" />
										}
										@if (pv.Service == PVService.NicoNicoDouga) {
											<img src="nico.png" />
										}
									</a>
								}
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<small>Generated on <span id="generatedAt"></span> based on <a href="http://vocadb.net">VocaDB</a>.</small>
	</div>
</body>
</html>