@using RazorEngine
@using VocaDBRankings.DataContracts
@inherits RazorEngine.Templating.TemplateBase<VocaDBRankings.ViewModels.TemplateViewModel>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Weekly Vocaloid/UTAU rankings generated from VocaDB" />
	<title>Vocaloid/UTAU rankings for week @Model.WeekNumber</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="content/vocarankings.css" />
	<link rel="shortcut icon" href="content/favicon.ico" type="image/x-icon" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@("@vocadb")" />
	<meta name="twitter:title" content="Vocaloid/UTAU rankings for week @Model.WeekNumber" />
	<meta name="twitter:description" content="Weekly rankings by VocaDB" />
	<meta name="twitter:image" content="http://static.vocadb.net/img/2jfnf9x.png" />
</head>
<body>
	<div class="container">
		
		<div class="row header">
			<div class="col-md-12">
				<div class="pull-left">
					<img src="http://puu.sh/oT0fS/7d1a245df1.png">
				</div>
				<div class="pull-left">
					<h2>
						<i>Vocaloid/UTAU rankings for week @Model.WeekNumber (@Model.BeginDate.ToShortDateString() - @Model.EndDate.ToShortDateString())</i>
					</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span7">
				<table class="table">
					<tbody>
						@foreach (SongForApiContract song in Model.Songs) {
							int pos = Model.GetSongPosition(song);
							<tr>							
								<td width="30px">
									@if (pos <= 3) {
										<h1 class="ranking-pos">@pos</h1>
									} else {
										<h2 class="ranking-pos">@pos</h2>
									}
								</td>
								<td width="140px">
									<span class="publish-date">
										<i class="glyphicon glyphicon-calendar"></i>
										@(song.PublishDate.HasValue ? song.PublishDate.Value.ToShortDateString() : "")
									</span>
									<br />
									<a href="http://vocadb.net/S/@song.Id">
										<img width="@(pos <= 3 ? 130 : 70)" src="@song.ThumbUrl" />										
									</a>
								</td>
								<td>
									<a href="http://vocadb.net/S/@song.Id" class="song-title">
										@song.Name
									</a>
									@if (!string.IsNullOrEmpty(song.AdditionalNames)) {
										@:(@song.AdditionalNames)
									}
									<br />
									by @song.ArtistString
									<br />
									@foreach (PVContract pv in Model.GetMainPVs(song)) {
										<a href="@pv.Url" title="@pv.Service">
											<img src="content/icons/@Model.GetServiceIcon(pv.Service)" />
										</a>
									}
									<p class="rating-score">
										Rating score: @song.RatingScore
									</p>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<small>Generated on @System.DateTime.UtcNow.ToString("g") GMT based on <a href="http://vocadb.net">VocaDB</a>.</small>
	</div>
</body>
</html>