@using RazorEngine
@using VocaDBRankings.DataContracts
@inherits RazorEngine.Templating.TemplateBase<VocaDBRankings.ViewModels.TemplateViewModel>

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta name="description" content="Weekly Vocaloid/UTAU rankings generated from VocaDB" />
	<title>Vocaloid/UTAU rankings for week @Model.WeekNumber</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="content/vocarankings.css" />
	<link rel="shortcut icon" href="content/favicon.ico" type="image/x-icon" />
	
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:site" content="@("@vocadb")" />
	<meta name="twitter:title" content="Vocaloid/UTAU rankings for week @Model.WeekNumber" />
	<meta name="twitter:description" content="Weekly rankings by VocaDB" />
	<meta name="twitter:image" content="http://static.vocadb.net/img/2jfnf9x.png" />
</head>
<body>
	<div class="container">
		<h2>
			Vocaloid/UTAU rankings for week @Model.WeekNumber (@Model.BeginDate.ToShortDateString() - @Model.EndDate.ToShortDateString())
		</h2>
		
		<!-- old header position -->

		<div class="row">
			<div class="span7">
				<table class="table">
					<tbody>
					
					<tr>
								
								<td>
									
								</td>
							
							<td>
								<h2><img src="http://puu.sh/oT0fS/7d1a245df1.png"></h2>
								</td>
							
							<td>
			<h2>						
		<i>Vocaloid/UTAU rankings for week @Model.WeekNumber (@Model.BeginDate.ToShortDateString() - @Model.EndDate.ToShortDateString())</i>	
		</h2>
								</td>
								
							</tr>	
							<tr>
							
						
						@foreach (SongForApiContract song in Model.TopRatedSongs) {
							<tr>
							
								<td width="30px">
									<h1>@Model.GetSongPosition(song)</h1><h5><!-- score goes here --></h5>
								</td>
								<td width="140px">
								<!-- date goes here -->
								<br />
									<a href="http://vocadb.net/S/@song.Id">
										<img width="130" src="@song.ThumbUrl" />										
									</a>
								</td>
								<td>
									<a href="http://vocadb.net/S/@song.Id">
										@song.Name										
									</a>
									@if (!string.IsNullOrEmpty(song.AdditionalNames)) {
										@:(@song.AdditionalNames)
									}
									<br />
									@song.ArtistString
									<br />
									@foreach (PVContract pv in Model.GetMainPVs(song)) {
										<a href="@pv.Url" title="@pv.Service">
											<img src="content/icons/@Model.GetServiceIcon(pv.Service)" />
										</a>
									}
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<div class="row">
			<div class="span7">
				<table class="table">
					<tbody>
						@foreach (SongForApiContract song in Model.OtherSongs) {
						<tr>
							<td width="30px">
								<h2>@Model.GetSongPosition(song)</h2>
							</td>
							<td width="80px">
								<a href="http://vocadb.net/S/@song.Id">
									<img width="70" src="@song.ThumbUrl" />
								</a>
							</td>
							<td>
								<a href="http://vocadb.net/S/@song.Id">
									@song.Name									
								</a>
								@if (!string.IsNullOrEmpty(song.AdditionalNames)) {
									@:(@song.AdditionalNames)
								}
								<br />
								@song.ArtistString
								<br />
								@foreach (PVContract pv in Model.GetMainPVs(song)) {
									<a href="@pv.Url" title="@pv.Service">
										<img src="content/icons/@Model.GetServiceIcon(pv.Service)" />
									</a>
								}
							</td>
						</tr>
						}
					</tbody>
				</table>
			</div>
		</div>

		<small>Generated on @System.DateTime.UtcNow.ToString("g") GMT based on <a href="http://vocadb.net">VocaDB</a>.</small>
	</div>
</body>
</html>